
{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="card col" style="width:18rem;">
      <img src="https://i.scdn.co/image/ab67616d0000b273fa981359e156d38403129fa8" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lost</h5>
        <h6 class="card-subtitle mb-2 text-muted ">Linkin Park</h6>
        <p class="card-text">Meteora</p>
      </div>
    </div>
    <div class="card col" style="width:18rem;">
        <img src="https://images.genius.com/c17f108b42f86913998e0b3de0165324.556x550x1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Over 85</h5>
          <h6 class="card-subtitle mb-2 text-muted ">Hojean</h6>
          <p class="card-text">Over 85</p>
        </div>
      </div>
      <div class="card col" style="width:18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/en/6/62/Usher8701Cover.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">U Remind Me</h5>
          <h6 class="card-subtitle mb-2 text-muted ">Usher</h6>
          <p class="card-text">8701</p>
        </div>
      </div>
      <div class="card col" style="width:18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/en/4/49/Hotelcalifornia.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hotel California</h5>
          <h6 class="card-subtitle mb-2 text-muted ">Eagles</h6>
          <p class="card-text">Hotel California</p>
        </div>
      </div>
      <div class="card col" style="width:18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/en/5/56/ModalMusic.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Reflection Eternal</h5>
          <h6 class="card-subtitle mb-2 text-muted ">Nujabes</h6>
          <p class="card-text">Modal Soul</p>
        </div>
      </div>
</div>

{% endblock %}